.someClass{
    width: 200px;
    height: 200px;
    background-color: rebeccapurple;
    /* visibility: hidden; */
    display:none;
}
.inlineDiv{
    background-color: blue;
    margin: 5px;
    display: inline;
}

.inlineblockDiv{
    background-color: blue;
    margin: 5px;
    display: inline-block;
    height: 50px;
    width: 100px;
}